.outer-container2{
    min-height: 700px;
    max-height: 1000px;
    display:grid;
    background-color: #0F0F0F;
    border: 2px dashed aliceblue;
    margin-left:5%;
    margin-right:5%;
    
}

.inner-container1{
    display:flex-col;
    background-color:  #191919;
    width:15em;
    height:15em;
    justify-items: start;
    border-radius: 39px;
    border:2px dashed blue;
}

.inner-container1:hover{
    border: 2px solid red;
}

.gridImg{
    margin-top: 8%;
    height:80px;
    width:80px;
    background-color: whitesmoke;
    border-radius: 25%; 
}

.paragraph1{
    color: whitesmoke;
    margin-left: 2%;
    margin-top: 1%;
}

.click-button{
    height:3em;
    width:9.5em;
    border-radius: 30px;
    font:bold;
    font-weight: 500;
    background-color: red;
    color: white;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.dummy{
    margin-left:5%; 
}
.h3-para-head1{
    font: bold;
    align-items: start;
    justify-items: start;
    color:white;
}

.paragraph1{
    align-items: start;
    justify-items: start;
    color:#454547;
    font: italic;
}
.inner-template{
    margin-top: 5%;
    margin-left:10%;
    margin-right:10%;
    grid-template-columns: 2fr 2fr 1fr;
    grid-auto-rows: 35%;
    row-gap: 20%;
    display:grid;
    padding:1rem;
    border: yellow dashed 2px;
}

@media screen and (max-width: 768px) {
    .inner-template{
        grid-template-columns: 2fr 2fr;
        justify-content: center;
        column-gap: 1em;
        
    }
    .inner-container1{
        width:auto;
        height: auto;
    }
    .inner-template{
        grid-template-columns: 2fr 2fr 1fr;
        gap: 30px;
        display:grid;
        border: yellow dashed 2px;
    }
}