.home{
    
    background-color: #0F0F0F;
    
}
.outer-container {
    width: 80%;
    margin: 0 auto;
    border: 2px dashed green;
    
}

.main {
    border: 2px dashed red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}


.h2{
    text-align: center;
    font-size:45px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    
}
 p{
    color: whitesmoke;
}
.sucess{
    color:orangered;
}


@media screen and (max-width:768px) {

    
    
}